<div class="contaier">
  <div class="row">
    <div class="col-lg-4 sidebar">
      <div class="stress-index-picture">
        <img src="take-it-easy-55e8d1414e_640.jpg">
      </div>

      <table class="table table-bordered sidebar-table" >
        <tbody>
          <tr>
            <td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "profile-picture", fallback: "/smiley-54e9d24a4b_640.jpg" %></td>
          </tr>
          <tr>
            <td>ニックネーム: <%= @user.name %></td>
          </tr>
          <tr>
            <td><%= link_to "自分がフォロー中のUser: #{@user.followings.count}人", user_followings_path(@user) %></td>
          </tr>
          <tr>
            <td><%= link_to "自分をフォロー中のUser: #{@user.followers.count}人", user_followers_path(@user) %></td>
          </tr>
        </tbody>
      </table>
      <%= render 'stresses/index', user: @user, event: @event %>
    </div>

     <div class="col-lg-7">
       <h2 class="past-stress">過去のストレス</h2>
       <table class="table table-bordered">
         <thead>
           <tr>
             <th><h4>写真</h4></th>
             <th><h4>タイトル</h4></th>
             <th><h4>投稿日</h4></th>
             <th></th>
           </tr>
         </thead>
         <% @stresses.each do |stress| %>
         <tbody>
           <tr>
             <td style="width:30%"><%= attachment_image_tag stress, :image, :fill, 30, 30, format: 'jpeg', fallback: "/minimalism-52e8d1454a_640.jpg", size:'200x150' %></td>
             <td><%= stress.title %></td>
             <td><%= stress.created_at %></td>
             <td><%= link_to "詳細", stress_path(stress.id) %></td>
           </tr>
         </tbody>
         <% end %>
         <%= paginate @stresses %>
       </table>
     </div>
  </div>
</div>


