<div class="stress-flash ">
  <%= flash[:delete] %>
</div>

<div class="top-index-picture">
  <%= image_tag("take-it-easy-55e8d1414e_640.jpg", class: "top-index-image") %>
</div>

<div class="contaier">
  <div class="row">
    <div class="col-lg-4 sidebar">
      <!--サイドバー-->
      <table class="table table-bordered sidebar-table" style="width:70%; margin: 90px 0 50px  60px;">
        <tbody>
          <tr style="text-align: center;">
            <td><%= attachment_image_tag @user, :profile_image, :fill, 200, 200, format: 'jpg', class:"profile-picture", fallback: "smiley-54e9d24a4b_640.jpg" %></td>
          </tr>
          <tr>
            <td>ニックネーム: <%= link_to @user.name, user_path(@user) %></td>
          </tr>
          <tr>
            <td><%= link_to "自分がフォロー中のUser: #{@user.followings.count}人", user_followings_path(@user) %></td>
          </tr>
          <tr>
            <td><%= link_to "自分をフォロー中のUser: #{@user.followers.count}人", user_followers_path(@user) %></td>
          </tr>
         </tbody>
      </table>
      <div class="user-find">
        <%= link_to "他のユーザーを探す", users_path, class:"user-find" %>
      </div>
      <div class="stress-index-picture">
        <%= image_tag("photo-1529156069898-49953e39b3ac.jpg") %>
      </div>
    </div>

    <div class="col-lg-7">
<!--ゲストユーザーと、通常ログインで表示変更-->
      <% if @user == User.guest %>
        <h2 class="past-stress">ゲストさんと、フォローしたユーザーのストレス</h2>
      <% else %>
        <h2 class="past-stress"><%= @user.name %>さんと、フォローしたユーザーのストレス</h2>
      <% end %>
<!--ゲストユーザーと、通常ログインで表示変更-->
      <% if @stresses.exists? %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><h4>写真</h4></th>
              <th><h4>投稿者</h4></th>
              <th><h4>タイトル</h4></th>
              <th><h4>投稿日</h4></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @stresses.each do |stress| %>
            <tr>
              <td style="width:25%"><%= attachment_image_tag stress, :image, :fill, 200, 200, format: 'jpg', fallback: "minimalism-52e8d1454a_640.jpg", size:'150x100' %></td>
              <td><%= link_to stress.user.name, user_path(stress.user) %></td>
              <td><%= stress.title %></td>
              <td><%= stress.created_at.to_s(:datetime_jp) %></td>
              <td><%= link_to "詳細", stress_path(stress.id) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @stresses %>
      <% else %>
        <% if @user == User.guest %>
          <p class="no-stress-index">
            過去に吐き出したストレスはありません！<br>
            ゲストさんか、フォローしたユーザーが<br>
            ストレスを吐き出したら、ここに表示されます！
          </p>
        <% else %>
          <p class="no-stress-index">
            過去に吐き出したストレスはありません！<br>
            <%= @user.name %>さんか、フォローしたユーザーが<br>
            ストレスを吐き出したら、ここに表示されます！
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
