<div class="stress-new-container">
  <h2 class="new-title">ストレスを吐き出す</h2>
</div>
<div class="new-picture">
  <img src="/scream.jpg", class="scream-picture">
</div>

<div class="new-stress-form">
  <%= form_with model:@stress, url:stresses_path, local:true do |f| %>
    <h4>タイトル</h4>
      <div class="form-word">
        <%= f.text_field :title, class:"title-form" %>
      </div>
    <h4>本文</h4>
      <div class="form-word">
        <%= f.text_area :body, class:"content-form" %>
      </div>
    <h4>今の気分</h4>
       <div class="stress-picture">
         <%= attachment_image_tag @stress, :image, :fill, 60, 60, format: 'jpeg', fallback: "/minimalism-52e8d1454a_640.jpg", size:'200x150' %>
         <%= f.attachment_field :image, plaveholder:"ストレス画像", class:"new-file" %>
         <%= f.submit "吐き出す", class:"new-submit btn" %>
       </div>
  <% end %>
</div>