<div class="stress-flash">
  <%= flash[:success] %>
  <%= flash[:change] %>
</div>

<div class="stress-show-container">
  <h2 class="show-title">ストレス詳細</h2>
</div>

<table class="table table-bordered stress-show-table" style="width: 50%;">
  <thead>
    <tr>
      <th style="width: 20%;"><h4>写真</h4></th>
      <th style="width: 20%;"><h4>投稿者</h4></th>
      <th style="width: 20%;"><h4>タイトル</h4></th>
      <th><h4>本文</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= attachment_image_tag @stress, :image, :fill, 30, 30, format: 'jpeg', fallback: "/minimalism-52e8d1454a_640.jpg", size:'200x150' %></td>
      <td><%= link_to @stress.user.name, user_path(@stress.user) %></td>
      <td><%= @stress.title %></td>
      <td><%= @stress.body %></td>
    </tr>
  </tbody>
</table>

<div class="show-links">
  <div class="link-options">
    <div><%= link_to "一覧に戻る", stresses_path, class:"options" %></div>
    <% if @stress.user == current_user %>
      <div><%= link_to "編集する", edit_stress_path(@stress), class:"options" %></div>
      <div><%= link_to "削除する", stress_path(@stress), class:"options", method: :delete, "data-confirm" => "このストレスを削除しますか？" %></div>
    <% end %>
    <!--いいね機能-->
    <div id="stress_<%= @stress.id %>">
      <div class="favorite-btn">
        <%= render "favorites/favorite-btn", stress: @stress %>
      </div>
    </div>
  </div>
  <!--コメント機能-->
  <div>
    <i class="fa fa-comment"></i>
    <p class="comments-count"><%= @stress.post_comments.count %>件コメント</p>
  </div>
  <div class="comment_<%= @stress.id %>">
    <%= render "post_comments/post-comments", stress: @stress, post_comment: @post_comment %>
  </div>
</div>

