<h2>ストレス詳細</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><h4>写真</h4></th>
      <th><h4>タイトル</h4></th>
      <th><h4>本文</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= attachment_image_tag @stress, :image, :fill, 30, 30, format: 'jpeg', fallback: "/minimalism-52e8d1454a_640.jpg", size:'200x150' %></td>
      <td><%= @stress.title %></td>
      <td><%= @stress.body %></td>
    </tr>
  </tbody>
</table>
<div><%= link_to "一覧に戻る", stresses_path %></div>
<div><%= link_to "編集する", edit_stress_path(@stress) %></div>
<div><%= link_to "削除する", stress_path(@stress), method: :delete, "data-confirm" => "このストレスを削除しますか？" %></div>

<!--いいね機能-->
<div id="stress_<%= @stress.id %>">
  <div class="favorite-btn">
    <%= render "favorites/favorite-btn", stress: @stress %>
  </div>
</div>
<!--コメント機能-->
<li>
  <i class="fa fa-comment"></i>
  <a href="#comments"><%= @stress.post_comments.count %></a>
</li>
<div>
  <h2><%= @stress.post_comments.count %>件コメント</h2>
</div>

<ol>
  <% @stress.post_comments.each do |post_comment| %>
    <li class="comment">
      <div class="comment-text">
        <div class="comment-author clearfix">
          <a href="#" class="link-author"><%= post_comment.user.name %></a>
            <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
        </div>
          <div><%= post_comment.comment %></div>
      </div>
    </li>
     <div>
       <%= link_to "削除", stress_post_comment_path(post_comment.stress, post_comment), method: :delete, class: "btn btn-danger" %>
     </div>
  <% end %>
</ol>

  <%= form_with model:[@stress, @post_comment] do |f| %>
    <%= f.text_area :comment, class: "comment-form",placeholder: "コメントをここに" %>
    <%= f.submit "送信する", class: "#" %>
  <% end %>