Webサイトからお問い合わせがありました。

--------------------------
Name: <%= @inquiry.name %>
Email: <%= @inquiry.email %>
Message:
<%= @inquiry.message %>
--------------------------

      
     

    <div class="row">
      <div class="col-lg-4">
        <div class="release-way">
          <%= link_to "旅行で発散", releases_travel_path %>
        </div>
         <%= link_to image_tag("80652197.jpeg", class:"release-stress-picture bottom-picture"), releases_travel_path %>
      </div>
      <div class="col-lg-4">
        <div class="release-way">
          <%= link_to "笑って発散", releases_laugh_path %>
        </div>
        <%= link_to image_tag("photo-1472162072942-cd5147eb3902.jpeg", class:"release-stress-picture bottom-picture"), releases_laugh_path %>
      </div>
      <div class="col-lg-4">
        <div class="release-way">
          <%= link_to "泣いて発散", releases_cry_path %>
        </div>
        <%= link_to image_tag("photo-1516758354783-b4ad206b7337.jpeg", class:"release-stress-picture bottom-picture"), releases_cry_path %>
      </div>
    </div>
  </div>
</div>
