<div class="top-picture" >
  <%= image_tag("morning-54e2d3474a_640.jpg") %>
</div>

<h1>test</h1>

<div class="top-container" id="about-jump">
  <h1 style="margin-bottom: 100px"><span style="font-size: 60px">「Stress」</span>を<span style="font-size: 60px">「Happy」</span>に</h1>
    <div class="top-message">
      <h4 style="padding-bottom: 10px">
        突然ですが、質問です。 「ストレスは体に良いと思いますか?　それとも悪いと思いますか?」
      </h4>
      <h4 style="padding-bottom: 10px">
        もちろん答えは1つではないですが、海外の大学の研究では、<br>
        「ストレスを体に良いと思う人にとっては、ストレスは体に良い」<br>
        「ストレスを体に悪いと思う人にとっては、ストレスは体に悪い」<br>
        という研究結果が出ています。
      </h4>
      <span style="font-size: 25px">
        このアプリは、ストレスの捉え方を変え、<br>
        ユーザーの幸せをふやすことを目指しています。
      </span>
    </div>
  <h1><span style="font-size: 60px">SHappy</span></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="about fade-in fade-in-up">
        <h4 class="about-title">
          ストレスを吐き出す
        </h4>
        <p class="about-message">
          自分の感じたストレスを、そのまま書き出しましょう。<br>
          ストレスを一度客観的に捉え、そのストレスは体に悪くないと<br>
          見つめることで、ストレスを体に良い物質に変えましょう！
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="about fade-in fade-in-up">
        <h4 class="about-title">
          ストレスを発散する
        </h4>
        <p class="about-message">
          ストレスを吐き出したら、次はストレスを発散しましょう! <br>
          発散方法は複数ありますので、<br>
          その時の気分に合った方法で定期的に発散しましょう!
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="about fade-in fade-in-up">
        <h4 class="about-title">
          気の合う人をフォローする
        </h4>
        <p class="about-message">
          自分がフォローしたユーザーの投稿を見れるようになり、<br>
          自分の投稿は、自分をフォローしているユーザーにのみ表示されます。
        </p>
      </div>
    </div>
      <div class="col-lg-6">
        <div class="about fade-in fade-in-up">
          <h4 class="about-title">
            いいね、コメントをする
          </h4>
          <p class="about-message">
            ストレスという、自分にとってネガティブな感情を吐き出すため、<br>
            批判的なコメントや、攻撃的なコメントはお控えください。<br>
            肯定的なコメントや励ましのコメント、アドバイスなどを書いて行きましょう！
          </p>
        </div>
      </div>
  </div>
</div>

<!--新規登録と、ゲストログイン-->
<div class="top-login">
  <div class="top-registration-btn">
    <%= link_to "新規登録はこちら", new_user_registration_path, class: 'btn btn-success' %>
  </div>
  <div class="top-session-btn">
    <%= link_to "ログインはこちら", new_user_session_path, class: 'btn btn-warning' %>
  </div>
  <div class="top-guest-btn">
    <%= link_to "ゲストログイン", users_guest_sign_in_path, class: 'btn btn-danger', method: :post %>
  </div>
</div>
<!--Topに戻るボタン-->
<span class="back">
  <a href="#">
    <%= image_tag("btn10-13.png") %>
  </a>
</span>
