<div class="inquiry-container">
  <div class="inquiry-head">
    <h1>お問い合わせ</h1>
  </div>

  <%= form_with model:@inquiry, url:inquiry_thanks_path, local:true do |f| %>
    <div class="inquiry-text">
      名前
    </div>
      <div class="confirm-name"><%= f.hidden_field :name %></div>
      <div class="confirm-info"><%= @inquiry.name %></div>
    <div class="inquiry-text">
      メールアドレス
    </div>
      <div><%= f.hidden_field :email %></div>
      <div class="confirm-info"><%= @inquiry.email %></div>
    <div class="inquiry-text">
      お問い合わせ内容
    </div>
      <div><%= f.hidden_field :message %></div>
      <div class="confirm-info"><%= simple_format(@inquiry.message) %></div>
    <%= f.submit '送信', :class => 'btn btn-success' %>
  <% end %>
</div>
