<h2 class="release-stress-message">買ってストレスを発散</h2>

<div class="way-picture" >
  <%= image_tag("photo-1534452203293-494d7ddbf7e0.jpg", class: "release-way-picture") %>
</div>

<div class="message-background">
  <h4 class="message-padding">
    欲しかった物を思い切って買う行為には、快感が伴います。この時、脳では幸福ホルモンである<br>
    ドーパミンが放出されます。そのため、衝動買いは脳にとって栄養ドリンクのような役割を果たしています。
  </h4>
  <h4 class="message-padding">
    ここで気を付けなければならないのは、「衝動買い」と「買い物中毒」は全く異なる物だということです。何かの<br>
    ご褒美や、ストレスによる自分への活力として、欲しかった物を思い切って買うことは、脳科学的には問題ないそうで<br>
    すが、何の理由もなく買い続けてしまったり、買っただけで満足してしまうことは、注意が必要です。
  </h4>
  <h4 class="message-padding">
    せっかくお金を使ったのに、ネガティブな気持ちになってしまうのは、もったいないです。ストレスで衝動買いをした<br>
    際には、「理性が足りなくて情けない」などと責めたりせず、むしろ脳に元気を与えたとポジティブに捉えましょう!
  </h4>
</div>

<h1 class="release-stress-title">買ってストレスを発散するためのサイト</h1>
<div class="site-background">
  <h4 class="site-name">①とにかく何か買い物をしたい方に 『Amazon』</h4>
  <div class="company-picture-container">
    <%= image_tag("amazon.png", class: "company-picture") %>
  </div>
  <div class="site-intro">
    <p class="message-title">
        1995年に創業し、最初は書籍のオンライン販売を中心に<br>
        事業を展開してましたが、現在では音楽・映像・ゲーム・家電・<br>
        家庭用品・アパレル・ベビー用品・食品・飲料など、<br>
        圧倒的なスピードで品揃えを拡張し続けています。
    </p>
    <p class="message-title">
        「地球上で最もお客様を大切にする企業」を目標にしており、<br>
        そのためにランキング機能やオススメ機能など、今では当たり前と<br>
        なっている機能をいち早く取り入れた企業でもあります。
    </p>
    <a href="https://www.amazon.co.jp" class="site-button">公式サイトはこちらから</a>
  </div>
</div>

<div class="site-background">
  <h4 class="site-name">②自分に合ったお店を見つけよう 『楽天市場』</h4>
  <div class="company-picture-container">
    <%= image_tag("rakuten.png", class: "company-picture") %>
  </div>
  <div class="site-intro">
    <p class="message-title">
      国内において、①のAmazonと同じくらい有名な通販サイトが、楽天市場です。
    </p>
    <p class="message-title">
      ただ、実際にはAmazonとは販売方法が大きく異なってます。<br>
      イメージとしては、Amazonの場合、Amazonという大きなお店があり、<br>
      その中に商品を並べていく形です。<br>
      一方楽天市場の場合、楽天市場という商店街があり、<br>
      その中にお店を出していく形となっています。
    </p>
    <p class="message-title">
      そのため、『ここのお店は安くて良い商品がある』『こっちのお店は包装や<br>
      サービスが良かった』など、自分に合ったお店を探す楽しみも出てきます。<br>
      そのため、色々比較しながら、ショッピングを楽しみたい方にピッタリです！
    </p>
    <a href="https://www.rakuten.co.jp/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>

<div class="site-background">
  <h4 class="site-name">③ファッションに特化した通販サイト 『ZOZOTOWN』</h4>
  <div class="company-picture-container">
    <%= image_tag("zozo.png", class: "company-picture") %>
  </div>
  <div class="site-intro">
    <p class="message-title">
      ZOZOTOWNでは、有名セレクトショップを中心に、ファストファッションから<br>
      有名ブランドまで、多種多様なファッショングッズを購入することができます。
    </p>
    <p class="message-title">
      また、カタログ代わりとしても利用することも可能です。<br>
      売れ行きのランキングを見ているだけで、どんな服が流行っているのか、<br>
      どんなコーディネートが流行っているのかをなんとなく知ることができます。<br>
      ランキングは日々変動するため、タイムリーな情報が掲載されています。
    </p>
    <a href="https://zozo.jp/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>

<div class="site-background">
 <h4 class="site-name">④ 近年利用者急増のフリマアプリ 『メルカリ』</h4>
  <div class="company-picture-container">
    <%= image_tag("mercari.png", class: "company-picture") %>
  </div>
  <div class="site-intro">
    <p class="message-title">
      2013年にサービスを開始し、当時はまだ規模が大きくなかった、<br>
      フリーマーケットという分野で急成長をしているサービスです。<br>
      普通の店ではお目にかかれない掘出し物や、ブランドの中古品、<br>
      1点もののハンドメイド品といったバリエーション豊かなアイテムが<br>
      探せる・見つかることが大きな魅力です。
    </p>
    <p class="message-title">
      また、購入だけでなく、出品もスマホで写真を撮って特徴を入力する<br>
      だけなので、最短3分でできるといわれています。<br>
      そのため、断捨離の際などにも、活用することができます。
    </p>
    <a href="https://www.mercari.com/jp/" class="site-button">公式サイトはこちらから</a>
  </div>
</div>
