<div class="release-picture" >
  <img src="/hiking-57e0d6424c_640.jpg">
</div>
<h2>Stress発散する</h2>

<div class="release-way">
  <%= link_to "食べて発散", releases_eat_path %>
</div>

<div class="release-way">
  <%= link_to "買って発散", releases_buy_path %>
</div>

<div class="release-way">
  <%= link_to "映画を観て発散", releases_watch_path %>
</div>

<div class="release-way">
  <%= link_to "音楽を聞いて発散", releases_listen_path %>
</div>

<div class="release-way">
  <%= link_to "旅行で発散", releases_travel_path %>
</div>

<div class="release-way">
  <%= link_to "笑って発散", releases_laugh_path %>
</div>

<div class="release-way">
   <%= link_to "泣いて発散", releases_cry_path %>
</div>
